body {
    margin: 0;
    padding: 0;
    width: 500px;
    height: 300px;
}

.hidden {
    display: none;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.pb-message {
    position: absolute;
    width: 500px;
    height: 300px;
    color: #fff;
    line-height: 250px;
    top: 0;
    left: 0;
    font-size: 20px;
    text-align: center;
    opacity: 0.8;
}

.pb-message .loading:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: solid 2px #fff;
    border-right-color: transparent;
    border-radius: 16px;
    margin-right: 6px;
    -webkit-animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0%   { -webkit-transform: rotate(0deg);   opacity: 0.2; }
    50%  { -webkit-transform: rotate(180deg); opacity: 1.0; }
    100% { -webkit-transform: rotate(360deg); opacity: 0.2; }
}

.pb-settingform {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    margin: -120px 0 0 -200px;
    color: #fff;
}

.pb-tokencaption,
.pb-hostcaption {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 5px;
    border-bottom: solid 1px #fff;
}

.pb-hostinput,
.pb-tokeninput {
    border: solid 1px #ccc;
    width: 392px;
    height: 30px;
    font-size: 20px;
    padding: 3px;
}

.pb-tokenerror,
.pb-hosterror {
    color: #ff0;
    margin-left: 6px;
}

.pb-tokensavebtn {
    text-align: right;
}

.pb-tokensave {
    width: 60px;
    height: 40px;
    font-size: 20px;
}

.pb-tokeninfo {
    text-align: right;
    margin-right: 10px;
}

.pb-tokeninfo > a {
    color: #fff;
    text-decoration: none;
}
.pb-tokeninfo > a:hover {
    text-decoration: underline;
}

.pb-table {
    width: 100%;
    padding: 10px 10px 0 10px;
}

.pb-table th, .pb-table td {
    padding: 4px;
}

.pb-table th {
    text-align: right;
    font-size: 14px;
    width: 20%;
    color: #666;
}

.pb-table td {
    width: 80%;
}

.pb-input {
    width: 100%;
    border: solid 1px #ccc;
    height: 30px;
    font-size: 20px;
    padding: 3px;
    color: #333;
}

.pb-description {
    width: 100%;
    height: 60px;
    border: solid 1px #ccc;
    padding: 3px;
}

.pb-submit {
    text-align: center;
    margin: 0;
}

.pb-submitbtn {
    border: solid 1px #ccc;
    background-color: #ddd;
    width: 100px;
    height: 40px;
    font-size: 18px;
    color: #333;
    border-radius: 6px;
}

.pb-submitbtn:hover {
    border-color: #ddd;
    background-color: #ccc;
}

.pb-configuration {
    display: block;
    width: 32px;
    height: 32px;
    background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAB20lEQVR4AZ3TzUtldRjA8Y8vcC/drkYtKmhmxBmYhTjMqOPMOPsZKBG0LOgvKIwWLVpUixYtCncZEb3QRqRV2aIIXCu3RRlUCgWJ1qKFSdQiy7pPLn784HC4b36+m/PAgQOH5yFzrwW3nNEwloVw0YCaHr2p6UN7QvjId45M6sGQplDsfT15TwjhH5G6omt1K/aFsGLYRHre8JQuLeSv3wdeTvOBLt3Mf2AarKVpS9fOWRXCz16x5l8hzKqSVL1r+7RlLQzaFYotkT0hUjNQdo/fhGKvu2BBBTwvUk+CukUPKZj0gXGfCWHOM94w61hoGHHXLyK1a8ZlPwi/m1Iy78CXahhxLDp0aEhL86KLbmipYkt0aF1bY0LO377yrRMh5wFt3RG5t9TA/VZF52upeNqLfhWpt2X4WKR+8oLHDSp5R8g5UZdhVBR6Vck3Qs62IsWl84WSr4WcHUV9/hByPlfympDT9LAMV0Wh55SZNOd7kfpUn8SAvB8aHjWupRmR2zCmT78pDZEb1da0KHTkT1HovDbqfhQdaujX0qLoottaetBReukvTSHnv3zoe6ramHAorKu6ZEekNj1i2Kawb1QHNROAZ0VqHvS7rqIHj4nUNWcy4CWfnLakzP+U4oMue1o1pQAAAABJRU5ErkJggg==") center center no-repeat;
    position: absolute;
    bottom: 10px;
    right: 10px;
}


